<form action="/new" method="post">
<h1>Puppys info</h1>
<h2>Name: </h2>
<input type="text" name="name">
<h2>Breed: </h2>
<input type="text" name="breed">
<h2>Age: </h2>
<input type="text" name="age">
<input type="submit" id="submit">
</form>
